@mixin table {
  .table-name {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 0;
    width: 100%;
    height: 56px;
    background: white;
    box-sizing: border-box;

    .selection-info {
      padding: 35px;
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
    }
  }
}
