<div class="sales-management-container">
  <div class="filter-section">
    <app-search
      [config]="salesSearchConfig"
      (searchTermChange)="onUserSearchTermChange($event)"
    />

    <div class="filter-actions">
      <app-button
        text="Filter"
        variant="outlined"
        [matMenuTriggerFor]="filterMenu"
        class="filter-button"
      >
        <mat-icon>expand_more</mat-icon>
      </app-button>

      <mat-menu #filterMenu="matMenu" class="popup-menu">
        <button mat-menu-item [matMenuTriggerFor]="roleMenu">
          Filter by customer
        </button>
        <button mat-menu-item [matMenuTriggerFor]="paidMenu">
          Filter by paid status
        </button>
        <button mat-menu-item [matMenuTriggerFor]="statusMenu">
          Filter by order status
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="filterStatus('')">Clear filter</button>
      </mat-menu>

      <!-- Role submenu -->
      <mat-menu #roleMenu="matMenu" class="popup-menu submenu">
        <div class="supplier-list-scroll-container">
          @if (isLoadingCustomers()) {
            <button mat-menu-item disabled>Loading suppliers...</button>
          } @else if (customers() && customers()!.length === 0) {
            <button mat-menu-item disabled>No suppliers found</button>
          } @else {
            @for (customer of customers() || []; track customer.id) {
              <button
                mat-menu-item
                (click)="filterBySupplier(customer)"
                [class.active]="activeCustomerId() === customer.id"
              >
                {{ customer.name }}
              </button>
            }
          }
        </div>
      </mat-menu>

      <mat-menu #paidMenu="matMenu" class="popup-menu submenu">
        <button mat-menu-item (click)="filterStatus('PAID')">Paid</button>
        <button mat-menu-item (click)="filterStatus('OUTSTANDING')">Outstanding</button>
      </mat-menu>

      <!-- Status submenu -->
      <mat-menu #statusMenu="matMenu" class="popup-menu submenu">
        <button mat-menu-item (click)="filterStatus('OPEN')">Open</button>
        <button mat-menu-item (click)="filterStatus('DELIVERED')" >Delivered</button>
      </mat-menu>

      <app-button
        (click)="openCreateOrderModal()"
        icon="assets/addIcon.svg"
        [isIconButton]="true"
        text="create order"
        [styles]="{ height: '40px',width: '140px' }"
      />
    </div>
  </div>
</div>
@if (SalesManagementService.isLoadingOrders()) {
  <div class="loader">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
}
@else {
  <div class="sales-table--canvas">
    <div class="sales-table">
      <div class="table-name">Orders ({{ SalesManagementService.ordersCount() }})</div>

      <app-table
        [columns]="tableColumns"
        [data]="SalesManagementService.orders() ?? []"
        [actions]="tableActions"
        [loading]="isLoading$()"
        [showCheckboxes]="false"
        [isRowClickable]="true"
        [showPagination]="SalesManagementService.ordersCount() > 10"
        [pageSize]="SalesManagementService.currentPageSize"
        [currentPage]="SalesManagementService.currentPage"
        [totalItems]="SalesManagementService.ordersCount()"
        [statusConfig]="statusConfig"
        (actionClick)="onActionClick($event)"
        (pageChange)="onPageChange($event)"
        (clickedRow)="onRowItemClick($event)"
      />
    </div>

    @if (clickedRow()) {
      <div class="canvas">
        <app-order-details-canvas
          [orderId]="clickedRow()!.id"
          [openUpdatePaymentModal]="openUpdatePaymentModal"
          (canvasClose)="clearClickedRowItem()"
        />
      </div>
    }
  </div>
}

