@use '@styles/mixins/_form.scss' as form;

.update-payment-modal-container {
  padding: 5%;
  background: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 80vh;
  width: clamp(300px, 50vw, 500px);
  box-sizing: border-box;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 20px 0;
  margin-bottom: 20px;

  h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.update-payment-form {
  padding: 0;

  @include form.form-row;

  .full-width {
    width: 100%;
  }

  .actions {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 24px 0 0 0;
    margin-top: 24px;
  }
}
