<div 
    class="input-container" 
    [class.disabled]="disabled()"
    [class.required-invalid]="required() && !internalValue() && isBlurred()"
>
  @if (label()) {
    @let displayedLabel = required() ? (label() + '*' ): label();
    <label class="input-label" [for]="randomInputId">{{ displayedLabel }}</label>
  }
  
<input [id]="randomInputId"
    #input
    [type]="type()"
    [placeholder]="placeholder()"
    [disabled]="disabled()"
    [required]="required()"
    [value]="internalValue()"
    (input)="onInputChange($any($event.target).value)"
    (focus)="onInputFocus()"
    (blur)="onInputBlur()" />
</div>
