<div class="table-container">
  @if (data().length > 0) {
    <mat-table [dataSource]="data()" matSort class="mat-elevation-0">
      <!-- Checkbox Column -->
      @if (showCheckboxes()) {
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? toggleAllRows() : null"
              [checked]="hasValue() && isAllSelected()"
              [indeterminate]="isIndeterminate()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? toggleRow(row) : null"
              [checked]="isRowSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>
      }

      <!-- Dynamic Columns -->
      @for (column of columns(); track column.key) {
        <ng-container [matColumnDef]="column.key">
          <mat-header-cell *matHeaderCellDef>
            @if (column.sortable) {
              <span [mat-sort-header]="column.key">{{ column.label }}</span>
            } @else {
              <span>{{ column.label }}</span>
            }
          </mat-header-cell>

          <mat-cell *matCellDef="let element">
            @switch (column.type) {
              @case ('status') {
                <span
                  class="status-chip"
                  [ngStyle]="getStatusStyles(getStatusValue(element, column))">
                  {{ formatCellValue(element, column) }}
                </span>
              }
              @default {
                <span>{{ formatCellValue(element, column) }}</span>
              }
            }
          </mat-cell>
        </ng-container>
      }

      <!-- Actions Column -->
      @if (actions().length > 0 || actionsTemplate()) {
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef
                           [style.width]="actionsTemplate() ? '140px' : '60px'"
                           [style.max-width]="actionsTemplate() ? '140px' : '60px'">
          </mat-header-cell>
          <mat-cell *matCellDef="let element"
                    [style.width]="actionsTemplate() ? '140px' : '60px'"
                    [style.max-width]="actionsTemplate() ? '140px' : '60px'">
            @if (actionsTemplate()) {
              <ng-container
                *ngTemplateOutlet="actionsTemplate()!; context: { $implicit: element }">
              </ng-container>
            }
            @else if (actions().length > 0) {
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" class="popup-menu">
                @for (action of actions(); track action.action) {
                  <button
                    mat-menu-item
                    (click)="onActionClick(action.action, element)">
                    @if (action.icon) {
                      <mat-icon>{{ action.icon }}</mat-icon>
                    }
                    <span>{{ action.label }}</span>
                  </button>
                }
              </mat-menu>
            }
          </mat-cell>
        </ng-container>
      }

      <mat-header-row *matHeaderRowDef="displayedColumns()"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns();"
               (click)="isRowClickable() && onRowClick(row)"
               [class.clickable]="isRowClickable()"
      ></mat-row>
    </mat-table>

    @if (showPagination()) {
      <app-paginator
        [totalItems]="totalItems() ?? 0"
        [pageSize]="pageSize()"
        [currentPage]="currentPage()"
        [pageSizeOptions]="pageSizeOptions()"
        (pageChange)="onPageChange($event)"
      />
    }

  }
  @else if (loading()) {
    <div class="empty-state">
      <mat-spinner></mat-spinner>
    </div>
  }
  @else {
    <app-empty-state />
  }
</div>
