<div class="order-details-canvas">
    @if (!order()) {
        <div class="section loader">
            <mat-spinner diameter="40"></mat-spinner>
        </div>
    }
    @else if (loadingError()) {
        <div class="section loading-error">
            <div>Error loading order details</div>
            <app-button
                text="Retry"
                (click)="fetchOrder()"
            />
        </div>
    }
    @else {
        <section>
            <div class="header">
                <h3>Order Details</h3>
                <mat-icon (click)="onCloseCanvas()">close</mat-icon>
            </div>
    
            <div class="section">
                <div class="section-title--order-type">
                    <div class="section-title">Products Purchased</div>
                    <span class="order-type">{{ (order().orderSale ?? '') | titlecase}}</span>
                </div>
                <table class="products-table">
                <thead>
                    <tr>
                        <th>Products</th>
                        <th>Qty</th>
                        <th>Amt</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of order().orderItems; track $index) {
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.amount }}</td>
                        </tr>
                    }
                </tbody>
                </table>
            </div>
    
            <mat-divider></mat-divider>
    
            <!--Summary-->
            <div class="section summary">
                <h3 class="section-title">Summary</h3>
                <div class="summary-row">
                    <div>Order ID</div> 
                    <div>{{ order().id }}</div>
                </div>
    
                <div class="summary-row">
                    <div>Order date</div>
                    <div>{{ order().orderDate | date:'mediumDate' }}</div>
                </div>
    
                <div class="total--receipts">
                    <h4 class="total">Total: GH₵ {{ getTotal() | number:'1.2-2' }}</h4>
    
                    <app-button
                        text="Export receipt"
                        iconType="material"
                        icon="download"
                        (click)="exportReceipt()"
                    />
    
                    <app-button
                        text="Print receipt"
                        iconType="material"
                        icon="print"
                        (click)="printReceipt()"
                    />
                </div>
            </div>
        </section>

        <!--Payment status-->
        <section>
            <div class="payment-status">
                <h3 class="section-title">Payment Status</h3>

                <div class="status-badge--balance">
                    <div class="status-badge" [ngClass]="order().paidStatus?.toLowerCase()">{{ order().paidStatus }}</div>
                    <div class="balance">Balance {{ getBalance() | number:'1.2-2' }}</div>
                    <div class="progress-bar">
                        <div class="progress" [style.width.%]="getTotalPaidPercent()"></div>
                    </div>
                </div>
                
                <app-button
                    text="Update Payment"
                    (click)="onUpdatePayment()"
                />
            </div>
        </section>

    }
</div>
