<form [formGroup]="changePswForm" (ngSubmit)="onRequestPassReset()" class="auth-form">
  <div class="form-field">
    <app-input
      label="New password"
      placeholder="Enter new password"
      formControlName="newPassword"
      type="password"
      [required]="true"
      [styles]="{ height: '54px' }"
    />
  </div>
  <div class="form-field">
    <app-input
      label="Confirm password"
      placeholder="Confirm new password"
      formControlName="confirmPassword"
      type="password"
      [required]="true"
      [styles]="{ height: '54px' }"
    />
  </div>

  @if (showPasswordMismatchMsg()) {
    <div class="password-mismatch">Passwords do not match</div>
  }

  <app-button
    type="submit"
    text="Submit"
    [styles]="{ height: '54px' }"
    [disabled]="!changePswForm.valid"
  />
</form>
