<div class="password-form-header">
  <h3>Change Password</h3>
</div>

<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="password-form">
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Old Password</mat-label>
    <input matInput type="password" formControlName="currentPassword" placeholder="Enter current password" />
    @if (isFieldInvalid('currentPassword')) {
      <mat-error >Old password is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>New Password</mat-label>
    <input matInput type="password" formControlName="newPassword" placeholder="Enter new password" />
    @if (isFieldInvalid('newPassword')){
      <mat-error>
        New password is required (min 6 chars)
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Confirm New Password</mat-label>
    <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm new password" />
    @if (passwordForm.hasError('mismatch')) {
      <mat-error>
        Passwords do not match
      </mat-error>
    }
  </mat-form-field>

  <div class="form-actions">
    <app-button text="Change Password"  [isLoading]="isSubmittingForm()" type="submit" [disabled]="passwordForm.invalid" class="submit-button" />
  </div>
</form>
