<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="auth-form">
  <div class="form-field">
    <app-input
      placeholder="Email address"
      formControlName="usernameOrEmail"
      type="email"
      [required]="true"
      [styles]="{ height: '54px' }"
    />
  </div>

  <div class="form-field">
    <app-input
      placeholder="Password"
      formControlName="password"
      type="password"
      [required]="true"
      [styles]="{ height: '54px' }"
    />
  </div>

  <div class="remember-me">
    <app-input formControlName="rememberMe" type="checkbox" /> <span>Remember me</span>
  </div>

  <app-button
    type="submit"
    text="Submit"
    [styles]="{ height: '54px' }"
    [disabled]="!loginForm.valid"
    [isLoading]="isSubmittingForm()"
  />

  <div class="form-links">
    <a routerLink="/{{forgotPasswordRoute}}" class="forgot-link">Forgot password?</a>
    <p class="signup-text">
      Don't have an account yet?
      <a href="#" class="signup-link">Request one</a>
    </p>
  </div>
</form>
