<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="auth-form">
  <div class="form-field">
    <app-input
      placeholder="Email address"
      formControlName="email"
      type="email"
      [styles]="{ height: '54px' }"
    />
  </div>

  <div class="form-field">
    <app-input
      placeholder="Password"
      formControlName="password"
      type="password"
      [styles]="{ height: '54px' }"
    />
  </div>

 <app-button
   type="submit"
   text="Submit"
   [styles]="{ height: '54px' }"
   [disabled]="!loginForm.valid"
 />

  <div class="form-links">
    <a routerLink="/forgot-password" class="forgot-link">Forgot password?</a>
    <p class="signup-text">
      Don't have an account yet?
      <a href="#" class="signup-link">Request one</a>
    </p>
  </div>

</form>
