<form [formGroup]="forgotPswForm" (ngSubmit)="onRequestPassReset()" class="auth-form">
  <div class="form-field">
    <app-input
      placeholder="Email address"
      formControlName="email"
      type="email"
      [required]="true"
      [styles]="{ height: '54px' }"
    />
  </div>
  <app-button
    type="submit"
    text="Send reset link"
    [styles]="{ height: '54px' }"
    [disabled]="!forgotPswForm.valid"
    [isLoading]="isSubmittingForm()"
  />
  <div class="form-links">
    <p class="signup-text">
      <a routerLink="/{{loginRoute}}" class="signup-link">Return to sign in</a>
    </p>
  </div>
</form>
