<div class="user-form-header">
  <h3>Your Details</h3>
</div>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="user-form">

  <!-- Row 1 -->
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Full Name</mat-label>
    <input matInput formControlName="name" placeholder="Enter your name" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" placeholder="Enter your username" />
  </mat-form-field>

  <!-- Row 2 -->
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" placeholder="Enter your email" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Role</mat-label>
    <input matInput formControlName="role" readonly />
  </mat-form-field>

  <div class="form-actions">
    @if (isEditMode) {
      <app-button text="Cancel" variant="outlined" (click)="cancelEditing()" class="cancel-button" />
      <app-button text="Save Changes" type="submit" [disabled]="userForm.invalid" class="submit-button" />
    } @else {
      <app-button text="Edit" [isLoading]="isSubmittingForm()"  (click)="enableEditing()" class="submit-button" />
    }
  </div>
</form>
