.arreas-container{
  margin: 2rem 0 0;
}

.table-name {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 25px;
  width: 100%;
  height: 56px;
  background: white;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  margin-top: 4rem;
}

.loader {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

