@use "@angular/material" as mat;
@use "./styles/authStyles";
//@use './styletheme';

html {
  @include mat.theme(
    (
      typography: Roboto,
    )
  );
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Angular Mat overrides */
// Snackbar
.snackbar-success {
  @include mat.snack-bar-overrides(
    (
      container-color: #4CAF50,
      supporting-text-color: white,
    )
  );
}

.snackbar-error {
  @include mat.snack-bar-overrides(
    (
      container-color: var(--mat-sys-error),
      supporting-text-color: white,
    )
  );
}

.snackbar-info {
  @include mat.snack-bar-overrides(
    (
      container-color: #2196F3,
      supporting-text-color: white,
    )
  );
}

.popup-menu {
  @include mat.menu-overrides((
    container-color: white,
    item-label-text-color: #333,
    item-hover-state-layer-color: #F7F7F7,
  ));
}


/* END Mat Overrides */
