@let isButtonDisabled = disabled() || isLoading();

<button
  mat-button
  [type]="type()"
  [disabled]="isButtonDisabled"
  [ngClass]="{
    'icon-right': !iconLeft(),
    'icon-button': isIconButton(),
    'filled-button': variant() === 'filled',
    'outlined-button': variant() === 'outlined'
  }"
  [ngStyle]="styles()">
  
  @if (isLoading()) {
    <mat-spinner diameter="16" class="spinner"></mat-spinner>
  }
  @else if (icon()) {
    @if (iconType() === 'material') {
      <mat-icon 
        [ngStyle]="iconStyles()" 
        class="material-icon">
        {{ icon() }}
      </mat-icon>
    } @else {
      <img 
        [src]="icon()" 
        [style]="iconStyles()" 
        alt="icon" 
        class="image-icon" />
    }
  }

  <span>{{ text() }}</span>

  <ng-content />
</button>
