@use "@styles/mixins/_filter-section.scss" as filter;
@use "@styles/mixins/_table.scss" as table;

.supplier-management-container {
  @include filter.filter-section;
}

@include table.table;

.table-name {
  padding-left: 25px;
  font-size: 18px;
  font-weight: bold;
}

::ng-deep .custom-dialog-container {
  .mat-mdc-dialog-container {
    border-radius: 2px !important;
    overflow: hidden;
  }
}
