<div class="supplier-management-container">
  <div class="filter-section">
    <app-search
      [config]="supplierSearchConfig"
      (searchTermChange)="onSupplierSearchTermChange($event)"
    />
    
    <div class="filter-actions">
      <app-button
        (click)="openAddSupplierModal()"
        icon="assets/addIcon.svg"
        text="Add new supplier"
      />
    </div>
  </div>
</div>

<div class="table-name">Suppliers ({{supplierManagementService.suppliers()?.length}})</div>

@if (supplierManagementService.isLoadingSuppiers()) {
  <div class="loader">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
}
@else {
  <app-table
    [columns]="tableColumns"
    [data]="supplierManagementService.suppliers() ?? []"
    [actions]="tableActions"
    [showCheckboxes]="false"
    [showPagination]="true"
    [pageSize]="supplierManagementService.currentPageSize"
    [currentPage]="supplierManagementService.currentPage"
    [totalItems]="supplierManagementService.suppliersCount()"
    [statusConfig]="statusConfig"
    (selectionChange)="onSelectionChange($event)"
    (actionClick)="onActionClick($event)"
    (pageChange)="onPageChange($event)"
  />
}
