<div>
    <div class="filter-section">
        <!--search-->

        <div class="filter-actions">
            <!--filter actions-->


        </div>
    </div>
</div>

<div class="supplier-management-container">
  <div class="filter-section">
    <app-search
      [data]="tableData"
      [config]="supplierSearchConfig"
      [isLoading]="isLoadingSuppliers"
      (searchResults)="onSupplierSearch($event)"
      (searchTermChange)="onSupplierSearchTermChange($event)"
    />
    <div class="filter-actions">
      <app-button
        text="Filter"
        variant="outlined"
        [matMenuTriggerFor]="filterMenu"
        class="filter-button"
      >
        <mat-icon>expand_more</mat-icon>
      </app-button>

      <mat-menu #filterMenu="matMenu">
        <button mat-menu-item>Active</button>
        <button mat-menu-item>Inactive</button>
        <button mat-menu-item>All</button>
      </mat-menu>
      
      <app-button
        (click)="openAddSupplierModal()"
        icon="assets/addIcon.svg"
        [isIconButton]="true"
        text="Add new supplier"
        [styles]="{ height: '40px',width: '140px' }"
      />
    </div>
  </div>
</div>

<div class="table-name">
  @if (tableData.length > 0) {
    <p class="selection-info">
      Suppliers( {{ tableData.length }} )
    </p>
  }
</div>

<app-table
  [columns]="tableColumns"
  [data]="filteredSuppliers"
  [loading]="isLoading"
  [actions]="tableActions"
  [showCheckboxes]="true"
  [showPagination]="true"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25, 50]"
  (selectionChange)="onSelectionChange($event)"
  (actionClick)="onActionClick($event)"
  (pageChange)="onPageChange($event)"
/>
